*{
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-color: red;
}
.containeer{
    max-width: 1800px;
}
.logo-image{
    width: 10em;
    height: 10em;
}
b{color: #ebb349;}
h1{
    font-size: 2em;
    font-weight: 700;
    color: #333;
}  
header a:hover{
    color: #ebb349;
    text-decoration: underline;
}
header{
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: #fff;
}
header .container{
    width: 100%;
    padding: 0em;
}
header .horizontal-box1{
    background-color: #000;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}
header .horizontal-box1 .box-right{
    width: 15%;
}
header .horizontal-box1 .box-left{
    width: 85%;
}
.horizontal-box1 p{
    font-size: .8em;
    color: #fff;
}
.horizontal-box1 a{
    font-size: .8em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}